apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: vshop
spec:
  replicas: 1
  serviceName: mysql
  selector:
    matchLabels:
      app.kubernetes.io/instance: mysql
  template:
    metadata:
      labels:
        app.kubernetes.io/name: product-mysql
        app.kubernetes.io/component: database
        app.kubernetes.io/instance: mysql
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name: mysql
          image: mysql:5.6
          ports:
            - name: tpc
              protocol: TCP
              containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom: 
                secretKeyRef:
                  name: product-mysql-db-secret
                  key: MYSQL_ROOT_PASSWORD     
            - name: MYSQL_DATABASE
              value: "vshop"
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        storageClassName: standard
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi